Source: python-bugzilla
Priority: optional
Section: devel
Maintainer: Alexandr D. Kanevskiy <packages@bifh.org>
Build-Depends-Indep: debhelper (>= 4.1.25), python-setuptools, python-central
Standards-Version: 3.7.2
XS-Python-Version: >= 2.3

Package: python-bugzilla
Architecture: all
Depends: ${python:Depends}, python-celementtree, python-pycurl | python2.3-pycurl
XB-Python-Version: ${python:Versions}
Description: Small python library of classes, for access Bugzilla
